<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sebastian Petak</title>

    <!-- FONTS and CSS-->
    <link href="https://fonts.googleapis.com/css?family=Anonymous+Pro:400,400i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Source+Code+Pro:400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="foundation.css">
    <link rel="stylesheet" href="app.css">
    <!-- foundation icons 3 -->
    <link rel="stylesheet" href="foundation-icons/foundation-icons.css" />

  </head>
  <body>
    <header>
      <!-- Navigation Section -->
      <!-- sticky: ensures menu sticks to top of screen when scrolling -->
      <div id="menu-container" data-sticky-container>
        <div id="sticky-mobilemenu" class="sticky"
          data-sticky data-options="stickTo:top; stickyOn:small;">

      <div class="title-bar vertical" data-responsive-toggle="mobile-drop-down" data-hide-for="medium">
        <button class="menu-icon" type="button" data-toggle></button>
        <div class="title-bar-title">Menu</div>
      </div>

      <div id="mobile-drop-down" class="hide-for-medium">
        <ul class="dropdown menu vertical" data-dropdown-menu>
          <li><a href="#top">TOP</a></li>
          <li><a href="#projects">PROJECTS</a></li>
          <li><a href="#skills">SKILLS</a></li>
          <li><a href="#about">ABOUT</a></li>
          <li><a href="#contact">CONTACT</a></li>
        </ul>
      </div>

        <div class="top-bar menu hide-for-small-only" id="top-bar-menu">
          <div class="top-bar-left">
            <ul class="menu">
              <li><a href="#">SEBASTIAN PETAK</a></li>
            </ul>
          </div>
          <div class="top-bar-right">
          <ul class="menu">
            <li><a href="#projects">PROJECTS</a></li>
            <li><a href="#skills">SKILLS</a></li>
            <li><a href="#about">ABOUT</a></li>
            <li><a href="#contact">CONTACT</a></li>
          </ul>
        </div>
        </div>

      </div>
    </div>
    </header>

    <main>
<!-- TOP, colored background -->
      <div id="top">
        <div class="top-text">
          <h1>Sebastian Petak</h1>
          <hr>
          <h2>Developer</h2>
        </div>
      </div>

<!-- PROJECTS, entire section -->
      <div id="projects">

        <!-- project heading -->
        <div class="project-heading">
          <h1>PROJECTS</h1>
        </div>

          <!--projects: projects content -->
          <div class="row collapse">

            <!-- first column -->
            <div class="small-12 medium-4 columns">
              <!-- first image  URL Shortener Microservice-->
              <a href="https://shurl-sp.herokuapp.com/"
                target="_blank">
              <div class="image-wrapper overlay-fade-in">
                <img src="url-shortener.png" alt="URL Shortener Microservice" />
                <div class="image-overlay-content">
                  <div class="image-overlay-text">
                    <h2>URL Shortener Microservice</h2>
                    <p>Node.js, MongoDB, Heroku</p>
                  </div>
                </div>
              </div>
              </a>

              <!-- fourth image  Random Quote Machine-->
              <a href="http://codepen.io/sebastianpetak/full/NAXrNx/"
                target="_blank">
              <div class="image-wrapper overlay-fade-in">
                <img src="random-quote-machine.png"
                 alt="Random Quote Machine" />
                <div class="image-overlay-content">
                  <div class="image-overlay-text">
                    <h2>Random Quote Machine</h2>
                    <p>Bootstrap, forismatic API, jQuery</p>
                  </div>
                </div>
              </div>
              </a>

              <!-- Seventh image  File Metadata Microservice-->
              <a href="https://file-metadata-ms-sp.herokuapp.com"
                target="_blank">
              <div class="image-wrapper overlay-fade-in">
                <img src="file-metadata-microservice.png"
                 alt="File Metadata Microservice" />
                <div class="image-overlay-content">
                  <div class="image-overlay-text">
                    <h2>File Metadata Microservice</h2>
                    <p>Node.js, Multer, Heroku</p>
                  </div>
                </div>
              </div>
              </a>
              <!-- Tenth image  Tic Tac Toe-->
              <a href="https://codepen.io/sebastianpetak/full/zKBOkE/"
                target="_blank">
              <div class="image-wrapper overlay-fade-in">
                <img src="tic-tac-toe.png"
                 alt="Tic Tac Toe" />
                <div class="image-overlay-content">
                  <div class="image-overlay-text">
                    <h2>Tic Tac Toe</h2>
                    <p>jQuery, Bootstrap</p>
                  </div>
                </div>
              </div>
              </a>

            </div>

            <!-- Second Column -->
            <div class="small-12 medium-4 columns">
              <!-- second image  Wikipedia viewer-->
              <a href="https://codepen.io/sebastianpetak/full/rLvVaw/"
                target="_blank">
              <div class="image-wrapper overlay-fade-in">
                <img src="wikipedia.png" alt="Wikipedia Viewer">
                <div class="image-overlay-content">
                  <div class="image-overlay-text">
                    <h2>Wikipedia Viewer</h2>
                    <p>Wikipedia API, Bootstrap</p>
                  </div>
                </div>
              </div>
              </a>

              <!-- fifth image  Timestamp Microservice-->
              <a href="https://timestamp-microservice-fcc-sp.herokuapp.com/"
                target="_blank">
              <div class="image-wrapper overlay-fade-in">
                <img src="timestamp-microservice.png"
                 alt="Timestamp Microservice" />
                <div class="image-overlay-content">
                  <div class="image-overlay-text">
                    <h2>Timestamp Microservice</h2>
                    <p>Node.js and Express</p>
                  </div>
                </div>
              </div>
              </a>

              <!-- Eighth image  Request Header Parser Microservice-->
              <a href="https://req-header-parser-ms-fcc-sp.herokuapp.com/"
                target="_blank">
              <div class="image-wrapper overlay-fade-in">
                <img src="request-header-parser-microservice.png"
                 alt="Request header Parser Microservice" />
                <div class="image-overlay-content">
                  <div class="image-overlay-text">
                    <h2>Request header Parser Microservice</h2>
                    <p>Node.js, Heroku</p>
                  </div>
                </div>
              </div>
              </a>

              <!-- Eleventh image  Pomodoro-->
              <a href="https://codepen.io/sebastianpetak/full/bwEmYw/"
                target="_blank">
              <div class="image-wrapper overlay-fade-in">
                <img src="pomodoro.png"
                 alt="Pomodoro Timer" />
                <div class="image-overlay-content">
                  <div class="image-overlay-text">
                    <h2>Pomodoro Timer</h2>
                    <p>jQuery, Bootstrap</p>
                  </div>
                </div>
              </div>
              </a>

            </div>

            <!-- Third Column -->
            <div class="small-12 medium-4 columns">
              <!-- third image Image Search Abstraction layer -->
              <a href="https://imgs-sp.herokuapp.com/"
                target="_blank">
              <div class="image-wrapper overlay-fade-in">
                <img src="image-search-abstraction-layer.png"
                 alt="Image Search Abstraction Layer">
                <div class="image-overlay-content">
                  <div class="image-overlay-text">
                    <h2>Image Search Abstraction layer</h2>
                    <p>Node.js, MongoDB, Heroku</p>
                  </div>
                </div>
              </div>
              </a>

              <!-- sixth image  JavaScript Calculator-->
              <a href="https://codepen.io/sebastianpetak/full/WGvLGv/"
                target="_blank">
              <div class="image-wrapper overlay-fade-in">
                <img src="calculator.png"
                 alt="Simple JavaScript Calculator" />
                <div class="image-overlay-content">
                  <div class="image-overlay-text">
                    <h2>Simple JavaScript Calculator</h2>
                    <p>jQuery and Bootstrap</p>
                  </div>
                </div>
              </div>
              </a>

              <!-- Ninth image  Simon Says Game-->
              <a href="https://codepen.io/sebastianpetak/full/ozYbmz/"
                target="_blank">
              <div class="image-wrapper overlay-fade-in">
                <img src="simon-game.png"
                 alt="Simon Says Game" />
                <div class="image-overlay-content">
                  <div class="image-overlay-text">
                    <h2>Simon Says Game</h2>
                    <p>jQuery, Bootstrap</p>
                  </div>
                </div>
              </div>
              </a>

              <!-- 12th image open weather map-->
              <a href="http://codepen.io/sebastianpetak/full/bZvpqq/"
                target="_blank">
              <div class="image-wrapper overlay-fade-in">
                <img src="weatherapp.png"
                 alt="Local Weather" />
                <div class="image-overlay-content">
                  <div class="image-overlay-text">
                    <h2>Local Weather</h2>
                    <p>jQuery, Ajax, Bootstrap</p>
                  </div>
                </div>
              </div>
              </a>

            </div>

          </div>
          <!--end mobile headings and projects content -->
          <!-- GitHub button -->
          <div class="row">
            <div class="small-12 button-container columns">
              <a href="https://github.com/SebastianPetak"
                class="button github-button" target="_blank">
                <i class="fi-social-github">
                </i>GitHub</a>
            </div>
          </div>

      </div>
    </div>

<!-- SKILLS -->
    <div id="skills">
      <div class="row">
        <div class="small-12 columns">
          <h1>SKILLS</h1>
        </div>
      </div>
      <div class="row">
        <div class="small-12 medium-6 medium-centered columns">
          <h2>Front-end Development</h2>
          <ul class="skills-list">
            <li>HTML5</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>jQuery</li>
            <li>Ajax</li>
            <li>Foundation</li>
            <li>Bootstrap</li>
          </ul>
          <h2>Back-end Development</h2>
          <ul class="skills-list">
            <li>Node.js and Express</li>
            <li>MySQL</li>
            <li>MongoDB</li>
            <li>Ruby (some experience)</li>
            <li>Ruby on Rails (some experience)</li>
          </ul>
          <h3>Other Skills</h3>
          <ul class="skills-list">
            <li>Linux</li>
            <li>git</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- ABOUT -->
    <div id="about">
      <div class="row">
      <div class="small-12 columns">
        <h1>ABOUT</h1>
      </div>
      <div class="small-12 medium-6 medium-centered columns about-content">
        <p>This is all the text about me.This is all the text about me.
            This is all the text about me.This is all the text about me.
            This is all the text about me.This is all the text about me.
            This is all the text about me.This is all the text about me.
            This is all the text about me.This is all the text about me.
            This is all the text about me.This is all the text about me.
            This is all the text about me.This is all the text about me.
          </p>
        </div>
      </div>
    </div>

    </main>

<!-- FOOTER -->
    <footer class="footer">
    <div id="contact">
      <div class="row">
        <div class="small-12 columns">
          <p class="slogan">Contact Me</p>
          <p class="email">
            <a href="mailto:sebastian.petak@gmail.com" target="_target">
              Sebastian.Petak@gmail.com</a>
          </p>
          <p class="copywrite">Content is copywrite © 2016</p>
        </div>
      </div>
  </div>
    </footer>

    <script src="vendor/jquery.js"></script>
    <script src="vendor/what-input.js"></script>
    <script src="vendor/foundation.js"></script>
    <script src="app.js"></script>
  </body>
</html>
